body {
    background-image: url(images/biochemistry2edit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.copyright_footer {
    color:white;
    font-weight: bold;
    background-color:black;
    opacity: 60%;
    width: 100%;
    height: 4.95rem;
    padding-left: 20%;
    padding-right: 25%;
    position: absolute;
    top: 77.5%;
}

#copyright {
    font-size: 8pt;
}

.foot-links {
    color:white;
}

.nav-custom {
    background-color: black;
    color: white;
    height: 4.95rem;
    opacity: 60%;
    padding-left: 20%;
    padding-right: 25%;
}

.czl_custom {
    color:white;
    padding-right: 50%;
}

.nav-container {
    margin-top:4.4%;
    color:white;
}

.name-header {
    margin-top: 8%;
    font-weight: 600;
    color: white;
    font-size: 75pt;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.sub-heading {
    color: white;
    font-weight: bold;
    font-size: 24pt;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}